@{
    ViewData["Title"] = "Latest Summary";
}
<style>
    #tblSummary tr:nth-child(even) {
        background-color: #E5E5E5;
    }
</style>

<table id="tblSummary">
    <thead>
        <tr id="header">
        </tr>
    </thead>
</table>

<script>
    $(document).ready(function () {
        $.ajax({
            url: 'https://localhost:44341/api/usermark/GetLatestSummary',
            type: 'GET',
            dataType: 'json',
            success: function (result) {
                //declare dynamic tabel headers
                var header = "<th>SN</th><th>User Name</th><th>Position</th><th>Previous Appraisal Count</th>";
                if (result.responseCode == 0) {
                    var categoryNames = result.responseLatestSummaryModel.categoryNames;
                    //alert(categoryNames.length);
                    for (var i = 0; i < categoryNames.length; i++) {
                        //alert(categoryNames[i]);
                        header += "<th>" + categoryNames[i] +"</th>";
                    }
                    $("#header").append(header);

                    //add table row data
                    $('#tblSummary').DataTable({
                        data: result.responseLatestSummaryModel.userMarks
                    });

                    $("#tblSummary tr td").not(':nth-child(2)').css({ "text-align": "center" }); 
                }
                else
                    alert(result.responseMessage);
            }
        });
    });
</script>